body {
    background: url('assets/images/back/windows.jpg') no-repeat center center / cover fixed;
    margin: 0;
    height: 100vh;
    font-family: 'VT323', monospace;
    overflow: hidden;
    cursor: url('assets/images/cursor.cur'), auto;
}

.window {
    position: absolute;
    width: 500px;
    height: 900px;
    background: #c0c0c0;
    border: 2px solid #fff;
    display: none;
    z-index: 1;
    overflow: hidden;
}
.window-header {
    background: #000080;
    color: white;
    padding: 5px;
    cursor: move;
    font-size: 14px;
}
.window-body {
    height: calc(100% - 28px);
    background: #fff;
    margin: 4px;
}

#desktop {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.icon {
  position: absolute;
  width: 80px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.3s ease;
}

.icon img {
    width: 64px;
    height: 64px;
}

.icon:hover {
  transform: scale(1.15);
}
